<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Product</th>
			<th>Details</th>
			<th>Count</th>
			<th>Price</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		
		<% if( products.length === 0){%>
			<tr>
				<td colspan="5">There are not products yet.</td>
			</tr>
		<% } %>
				
		<% for (var idx = 0, len = products.length; idx < len; idx ++) { %>
			<tr>		
				<td><%= products[idx].title %></td>
				<td><%= products[idx].variations %></td>
				<td><input type="number" value="<%= products[idx].count %>" min="0" max="100" step="1"></td>
				<td>$<%= products[idx].count * products[idx].price %></td>
				<td><a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span> Remove</a></td>				
			</tr>			
		<% } %>				
	</tbody>	
</table>